<app-navbar></app-navbar>
<div class="background">
	<div class="top">
	</div>
</div>
<div class="container">
	<div class="cynthesize-auth-card">
		<!-- <h2 class="cynthesize-title">Cynthesize</h2> -->
		<h4 class="welcome">Welcome Back!</h4>
		<div *ngIf="errorEncountered">
			<app-error-handler [errorMessage]="errorString"></app-error-handler>
		</div>
		<div class="cynthesize-form-container">
			<form (submit)="onLogin()" [formGroup]="userFormGroup">
				<mat-form-field class="cynthesize-auth-input-field">
					<input matInput placeholder="Username" formControlName="username" autocomplete="true">
				</mat-form-field>
				<mat-form-field class="cynthesize-auth-input-field">
					<input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>
			</form>
			<div class="redirecting-btns">
				<button mat-raised-button type="submit" class="auth-submit" color="primary">Login</button>
				<a routerLink="/register" class="registration-btn">not registered yet?</a>
			</div>
		</div>
	</div>
</div>
