h2::after{
  display: block;
  height:2px;
  width:20%;
  margin-left: 50%;
  background-color:#222;
  transform: translateX(-50%);
}


.idea-container{
  width:60%;

}

app-idea-card{
  margin-top:20px;
  margin-bottom:20px;
}
